body {
  font-family: "Noto Sans", sans-serif;
  margin: 20px;
  background-color: #111;
  color: #fff;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 6.5rem;
  color: #bb86fc;
}

.swiper-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 20px;
}
#customSection {
  color: #bb86fc;
  font-size: 1.9rem;
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
#banner {
  color: #bb86fc;
  font-size: 3rem;
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.swiper-slide {
  width: calc(20% - 10px);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.resultCard {
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.resultCard:hover {
  background-color: #444;
}

.artistImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  color: #bb86fc;
}

#songList::-webkit-scrollbar {
  width: 10px;
}

#songList::-webkit-scrollbar-thumb {
  background-color: #bb86fc; /* 스크롤바 색상 */
  border-radius: 5px;
}

#songList::-webkit-scrollbar-track {
  background-color: #333; /* 스크롤바 트랙 색상 */
}

#songList {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
}

.songItem {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.songItem p {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.songItem:hover {
  background-color: #444;
}

#searchContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  padding: 15px;
}

#searchInput {
  flex: 1;
  margin-right: 15px;
  padding: 15px;
  font-size: 24px; /* 큰 글꼴 크기로 조정 */
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  outline: none;
}

#searchInput::placeholder {
  color: #bbb;
}

#searchInput:focus {
  border: 2px solid #bb86fc;
  background-color: #333;
}

#searchButton {
  padding: 15px;
  font-size: 18px;
  background-color: #bb86fc;
  color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: #573a96;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: #bb86fc;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s;
  border-radius: 50%;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-hidden {
  display: none;
}

#loginButton {
  position: absolute;
  top: 120px; /* 원하는 위치로 조정 */
  right: 20px; /* 원하는 위치로 조정 */
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #bb86fc;
  color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

#loginButton:hover {
  background-color: #573a96;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #111;
  color: #bb86fc;
  text-align: center;
  padding: 10px;
}
